<tr id='Assessmentrow_{{ assessment.id }}' data-sa-id="{{ assessment.id }}" data-contact-id='{{ assessment.id }}' class="newlyAdded">
    {# 20191015 changed productrow to Productrow - was not working in delete product #}
    <td id="assessmentdate_{{ assessment.id }}">{{ assessment.date|date('Y-m-d H:i') }}</td>
    <td id="assessmentparticipant_{{ assessment.id }}">{{ assessment.participant.lastname }}, {{ assessment.participant.firstname }}</td> {# was  participant.responsibleparty #}
    <td id="participantemail_{{assessments.id}}">{{ assessments.phone }}</td>
    <td class="assessment-manage">
        <button class="manageEdit btn btn-primary" data-sa-object="assessment" data-item-id="{{ assessment.id }}" title="Edit/Display">
            <i class="fa-solid fa-pencil"></i></button>
    </td>

    <td id="assessmentcopy_{{ assessment.id }}" class="assessment-copy">
        <button class="copy btn btn-primary" data-sa-object="assessment" data-item-id="{{ assessment.id }}" title="Copy/Duplicate">
            <i class="fa-solid fa-copy"></i></button>
    </td>

    <td  id="assessmentprint_{{ assessment.id }}" class="assessment-print">
        <button class="print btn btn-primary" data-sa-object="assessment" data-item-id="{{ assessment.id }}" title="Print">
            <i class="fa-solid fa-print"></i></button>
    </td>

    <td id="assessmentdelete_{{ assessment.id }}" class="assessment-delete">
        <button class="deleteItemButton btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm-delete-modal" data-item-type="assessment" data-item-id="{{ assessment.id }}" title="Delete">
            <i class="fa-solid fa-trash-can"></i></button>
    </td>

</tr>
