{% extends 'base.twig' %}

{% block title %}
    - Assessment Details
{% endblock %}
{% block navtitle %}
    - Assessment Details
{% endblock %}

{% block body %}


    <div class="container">
        <form id="assessment_details_form">
            <div class="row mt-4">
                <div class="col-sm-12">
                    <div class="border p-3">
                        <div class="row">
                            <div class="col-sm-4">
                                <!-- Input Field 1: Text -->
                                <div class="form-group">
                                    <label for="assessment-participant">Participant:</label>
                                    <input type="text" name="assessmentParticipant" id="assessment-participant" placeholder="Enter value *not working...yet"
                                            value="{{ assessment.participant }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <!-- Input Field 2: Date/Time -->
                                <div class="form-group">
                                    <label for="dateTimeField">Assessment Date/Time:</label>
                                    <input type="datetime-local" name="assessmentDate" id="assessment-date"
                                            value="{{  assessments.date }}" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <!-- Radio Buttons -->
                                <div class="form-group">
                                    <label>Activities for</label>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="assessmentSeniorAdult" value="Adult Day"
                                               {% if assessments.seniorAdult == 'Adult Day' %}checked{% endif %}> Adult Day
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="assessmentSeniorAdult" value="Senior Program"
                                               {% if assessments.seniorAdult == 'Senior Program' %}checked{% endif %}> Senior
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h2>Daily Activities</h2>
                    <div class="form-group">
                        <label>Comunity Outing</label>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentOuting" value="Actively Participates"
                                   {% if assessments.outing == 'Actively Participates' %}checked{% endif %}> Actively
                            Participates
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentOuting" value="Partially Participates"
                                   {% if assessments.outing == 'Partially Participates' %}checked{% endif %}> Partially
                            Participates
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentOuting" value="No Participation/Refused"
                                   {% if assessments.outting == 'No Participation/Refused' %}checked{% endif %}> No
                            Participation/Refused
                        </div>

                        <div class="form-group">
                            <label>In House Activities</label>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="assessmentInHouseAct" value="Actively Participates"
                                       {% if assessments.inHouseAct == 'Actively Participates' %}checked{% endif %}> Actively
                                Participates
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="assessmentInHouseAct" value="Partially Participates"
                                       {% if assessments.inHouseAct == 'Partially Participates' %}checked{% endif %}> Partially
                                Participates
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="assessmentInHouseAct" value="No Participation/Refused"
                                       {% if assessments.inHouseAct == 'No Participation/Refused' %}checked{% endif %}> No
                                Participation/Refused
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Independent Skill Development</label>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="assessmentIndySkilsDev" value="Actively Participates"
                                       {% if assessments.indySkillsDevelop == 'Actively Participants' %}checked{% endif %}> Actively
                                Participates
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="assessmentIndySkilsDev" value="Partially Participates"
                                       {% if assessments.indySkillsDevelop == 'Partially Participants' %}checked{% endif %}> Partially
                                Participates
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="assessmentIndySkilsDev" value="No Participation/Refused"
                                       {% if assessments.indySkillsDevelop == 'No Participation/Refused' %}checked{% endif %}> No
                                Participation/Refused
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Volunteer</label>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="assessmentVolunteer" value="Actively Participates"
                                       {% if assessments.volunteer == 'Actively Participants' %}checked{% endif %}> Actively
                                Participates
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="assessmentVolunteer" value="Partially Participates"
                                       {% if assessments.volunteer == 'Partially Participants' %}checked{% endif %}> Partially
                                Participates
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="assessmentVolunteer" value="No Participation/Refused"
                                       {% if assessments.volunteer == 'No Participation/Refused' %}checked{% endif %}> No
                                Participation/Refused
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <h2>Therapies</h2>
                    <div class="form-group">
                        <label>Reading</label>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentReading" value="Actively Participates"
                                   {% if assessments.reading == 'Actively Participants' %}checked{% endif %}> Actively
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentReading" value="Partially Participates"
                                   {% if assessments.reading == 'Partially Participants' %}checked{% endif %}> Partially
                            Participates
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentReading" value="No Participation/Refused"
                                   {% if assessments.reading == 'No Participation/Refused' %}checked{% endif %}> No
                            Participation/Refused
                        </div>
                        <label>Writing</label>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentWriting" value="Actively Participates"
                                   {% if assessments.writing == 'Actively Participants' %}checked{% endif %}> Actively
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentWriting" value="Partially Participates"
                                   {% if assessments.writing == 'Partially Participants' %}checked{% endif %}> Partially
                            Participates
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentWriting" value="No Participation/Refused"
                                   {% if assessments.writing == 'No Participation/Refused' %}checked{% endif %}> No
                            Participation/Refused
                        </div>
                        <label>Education & Development Skills</label>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentEddevelopment" value="Actively Participates"
                                   {% if assessments.eddevelopment == 'Actively Participants' %}checked{% endif %}> Actively
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentEddevelopment" value="Partially Participates"
                                   {% if assessments.eddevelopment == 'Partially Participants' %}checked{% endif %}> Partially
                            Participates
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentEddevelopment" value="No Participation/Refused"
                                   {% if assessments.eddevelopment == 'No Participation/Refused' %}checked{% endif %}> No
                            Participation/Refused
                        </div>

                        <label>Art</label>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentArt" value="Actively Participates"
                                   {% if assessments.art == 'Actively Participants' %}checked{% endif %}> Actively
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentArt" value="Partially Participates"
                                   {% if assessments.art == 'Partially Participants' %}checked{% endif %}> Partially
                            Participates
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentCrafts" value="No Participation/Refused"
                                   {% if assessments.art == 'No Participation/Refused' %}checked{% endif %}> No
                            Participation/Refused
                        </div>
                        <label>Crafts</label>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentCrafts" value="Actively Participates"
                                   {% if assessments.crafts == 'Actively Participants' %}checked{% endif %}> Actively
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentCrafts" value="Partially Participates"
                                   {% if assessments.crafts == 'Partially Participants' %}checked{% endif %}> Partially
                            Participates
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentCrafts" value="No Participation/Refused"
                                   {% if assessments.crafts == 'No Participation/Refused' %}checked{% endif %}> No
                            Participation/Refused
                        </div>

                    </div>

                </div>
                <div class="col-md-4">
                    <h2>Misc</h2>
                    <div class="form-group">


                        <label>Socializing</label>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentSocializing" value="Actively Participates"
                                   {% if assessments.socializing == 'Actively Participants' %}checked{% endif %}> Actively
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentSocializing" value="Partially Participates"
                                   {% if assessments.socializing == 'Partially Participants' %}checked{% endif %}> Partially
                            Participates
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentSocializing" value="No Participation/Refused"
                                   {% if assessments.socializing == 'No Participation/Refused' %}checked{% endif %}> No
                            Participation/Refused
                        </div>

                        <label>Current Events</label>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentCurrentEvents" value="Actively Participates"
                                   {% if assessments.currentEvents == 'Actively Participants' %}checked{% endif %}> Actively
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentCurrentEvents" value="Partially Participates"
                                   {% if assessments.currentEvents == 'Partially Participants' %}checked{% endif %}> Partially
                            Participates
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentCurrentEvents" value="No Participation/Refused"
                                   {% if assessments.currentEvents == 'No Participation/Refused' %}checked{% endif %}> No
                            Participation/Refused
                        </div>

                        <label>Lunch</label>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentLunch" value="Ate"
                                   {% if assessments.lunch == 'Ate' %}checked{% endif %}> Ate
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="assessmentLunch" value="Refused"
                                   {% if assessments.lunch == 'Refused' %}checked{% endif %}> Refused
                        </div>

                        <div class="form-group">
                            <label>Snack</label>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="assessmentSnack" value="Ate"
                                       {% if assessments.snack == 'Ate' %}checked{% endif %}> Ate
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" name="assessmentSnack" value="Refused"
                                       {% if assessments.snack == 'Refused' %}checked{% endif %}> Refused
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Checkboxes Section -->
            <div class="row mt-4">
                <h2>Tasks Completed by Staff</h2>
                <div class="col-sm-12">
                    <div class="border p-3">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-check">
                                    <input type="checkbox" name="assessmentToilet"
                                           id="toiletCheckbox" {{ contacts.toilet ? 'checked' : '' }} class="mt-3">
                                    <label class="form-check-label" for="toiletCheckbox">Toileting</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check">
                                    <input type="checkbox" name="assessmentGrooming"
                                           id="groomingCheckbox" {{ contacts.grooming ? 'checked' : '' }}
                                           class="mt-3">
                                    <label class="form-check-label" for="groomingCheckbox">Grooming</label>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="form-group row mt-4 saveButton" data-item-id="{{ assessments.id }}">
                <div class="col-sm-12 text-center">
                    <button id="btn_assessments_save" type="submit" class="btn btn-primary">Save</button>
                    <button id="btn_assessments_cancel" type="button" class="btn btn-secondary btnCancel">Cancel</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
