<tr id='Assessmentrow_{{ assessment.id }}' data-sa-id="{{ assessment.id }}" data-contact-id='{{ assessment.id }}' class="newlyAdded">
    {# 20191015 changed productrow to Productrow - was not working in delete product #}
    <td id="assessmentdate_{{ assessment.id }}">{{ assessment.date|date('Y-m-d H:i') }}</td>
    <td id="assessmentdailyactivities_{{ assessment.id }}">{{ assessment.outing }}</td>
{#     <td id="participanttype_{{assessments.id}}">{{ assessments.streetaddress1 }}</td>
    <td id="participantpractice_{{ assessments.id }}">{{ assessments.responsibleParty.firstname }} {{ assessments.responsibleParty.lastname }}</td> {# was  assessments.responsibleparty #}
    <td id="participantemail_{{assessments.id}}">{{ assessments.phone }}</td>
#}
    <td class="assessment-manage">
        <button class="manageEdit btn btn-primary" data-sa-object="assessment" data-item-id="{{ assessment.id }}">
            <i class="fa-solid fa-pencil"></i> Edit</button>
    </td>

    <td id="assessmentcopy_{{ assessment.id }}" class="assessment-copy">
        <button class="copyAssessmentButton btn btn-primary" data-item-id="{{ assessment.id }}">
            <i class="fa-solid fa-copy"></i> Copy</button>
    </td>

    <td id="assessmentdelete_{{ assessment.id }}" class="assessment-delete">
        <button class="deleteItemButton btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm-delete-modal"data-item-type="assessment" data-item-id="{{ assessment.id }}">
            <i class="fa-solid fa-trash-can"></i> Delete</button>
    </td>

</tr>
