{% extends 'base.twig' %}

{#  20230908 TOME
    Note the select table here for responsible party
    It points to and displays from the contacts table
    Defautls to 'select contact', if if there is one, it displays it from the table
    So, the contacts table has to be avaialble when template is called#}

{% block title %}
    - Participant Details
{% endblock %}
{% block navtitle %}
    - Participant Details
{% endblock %}

{% set navHeader = 'Participant Details -'  ~ participants.firstName ~ ' ' ~ participants.lastName %}

{% block body %}

        <form id="participant_details_form">
            <div class="row mb-3">
                <!-- First Field -->
                <div class="col-md-6">
                    <label for="participantFirstName" class="form-label">First Name</label>
                    <input type="text" name="participantFirstName" id="participantFirstName"
                           value="{{ participants.firstname }}" class="form-control">
                </div>
                <!-- Second Field -->
                <div class="col-md-6">
                    <label for="participantLastName" class="form-label">Last Name</label>
                    <input type="text" name="participantLastName" id="participantLastName"
                    value="{{ participants.lastname }}" class="form-control">
                </div>
            </div>

            <div class="row"> {# removed mb-3 to make Address2 be close to Address #}
                <!-- Column for Field 3 -->
                <div class="col-md-6">
                    <label for="participantAddress" class="form-label">Address</label>
                    <input type="text" name="participantAddress" id="participantAddress"
                           value="{{ participants.streetaddress1 }}" class="form-control">
                </div>
            </div>

            <div class="row mb-3">
                <!-- Column for Field 4 -->
                <div class="col-md-6">
                    {#  <label for="participantAddress2" class="form-label">Address</label> #}
                    <input type="text" name="participantAddress2" id="participantAddress2"
                           value="{{ participants.streetaddress2 }}" class="form-control">
                </div>
            </div>

            <!-- Multiple Rows of 3 Columns -->
            <div class="row">
                <div class="col-md-4">
                    <label for="participantCity" class="form-label">City</label>
                    <input type="text" name="participantCity" id="participantCity"
                           value="{{ participants.city }}" class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="participantState" class="form-label">State</label>
                    <input type="text" name="participantState" id="participantState"
                           value="{{ participants.state }}" class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="participantZip" class="form-label">Zip</label>
                    <input type="text" name="participantZip" id="participantZip"
                           value="{{ participants.zip }}" class="form-control">
                </div>
                <!-- Repeat for Fields 10-11 -->
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="responsibleParty" class="form-label">Responsible Party</label>
                        <select name="responsibleParty" id="responsibleParty" class="form-control">
                            <option value="">Select a responsible party</option>
                            {% for contact in contactList %}
                                <option value="{{ contact.id }}"
                                        {% if participants.responsibleParty is not empty and participants.responsibleParty.id == contact.id %}
                                            selected
                                        {% endif %}
                                >
                                    {{ contact.firstName }} {{ contact.lastName }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="participantPhone" class="form-label">Cell Phone</label>
                        <input type="text" name="participantPhone" id="participantPhone"
                               value="{{ participants.phone }}" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 invisible">
                    <label for="field9" class="form-label">Responsible Party</label>
                    <input type="text" class="form-control" id="field9">
                </div>
                <div class="col-md-4">
                    <label for="field10" class="form-label">Home Phone</label>
                    <input type="text" class="form-control" id="field10">
                </div><!-- Repeat for Fields 12-14 -->
            </div>
            <div class="row mb-3">
                <!-- Column for Field 3 -->
                <div class="col-md-6">
                    <label for="field3" class="form-label">Diagnosis</label>
                    <input type="text" class="form-control" id="field3">
                </div>
            </div>

            <div class="row mb-3">
                <!-- Column for Field 4 -->
                <div class="col-md-6">
                    {# <label for="field4" class="form-label">Field 4</label> #}
                    <input type="text" class="form-control" id="field4">
                </div>
            </div>

            <div class="row">
                <!-- Column for Field 3 -->
                <div class="col-md-6">
                    <label for="field3" class="form-label">Emergency Contact</label>
                    <input type="text" class="form-control" id="field3">
                </div>

                <!-- Column for Field 4 -->
                <div class="col-md-6">
                    <label for="field4" class="form-label">Phone #</label>
                    <input type="text" class="form-control" id="field4">
                </div>
            </div>

            <!-- Repeat for additional rows as needed -->

            <!-- Submit Button -->
            <div class="form-group row mt-4 saveButton" data-item-id="{{ participants.id }}">
                <div class="col-sm-12 text-center">
                    <button id="btn_save" data-sa-object="participant" type="submit" class="btn btn-primary">Save</button>
                    <button id="btn_cancel" type="button" class="btn btn-secondary btnCancel">Cancel</button>
                </div>
            </div>
        </form>

    <!-- Include Bootstrap JS (Optional) -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script> -->

    <!-- Include your custom JavaScript here if needed -->



    {#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-xs-6">#}


{#                <form action="/lib/visit_update.php" method="POST">#}

{#                    <div class="form-group">#}
{#                        <label for="visit-date" class="control-label">Last Name</label>#}
{#                        <input type="date" name="visitDate" id="visit-date"#}
{#                               value="<?php echo $visit['visit_date'];?>" class="form-control" />#}
{#                    </div>#}

{#                    <div class="form-group">#}
{#                        <label for="visit-time" class="control-label">Visit Time</label>#}
{#                        <input type="time" name="visitTime" id="visit-time"#}
{#                               value="<?php echo $visit['visit_time'];?>" class="form-control" />#}
{#                    </div>#}


{#                    <div class="form-group">#}
{#                        <label for="visit-type" class="control-label">Visit Type</label>#}
{#                        <input type="text" name="visitType" id="visit-type"#}
{#                               value="<?php echo $visit['type'];?>" class="form-control" />#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label for="visit-with" class="control-label">Visit With</label>#}
{#                        <input type="text" name="visitWith" id="visit-with"#}
{#                               value="<?php echo $visit['visit_with'];?>" class="form-control" />#}
{#                    </div>#}
{#                    <div class="form-group">#}
{#                        <label for="visit-id" class="control-label">Visit Id</label>#}
{#                        <input type="hidden" name="visitId" id="visit-id"#}
{#                               value="<?php echo $id;?>"  class="form-control" />#}
{#                    </div>#}
{#                    <!--                <div class="form-group">-->#}
{#                    <!--                    <label for="pet-weight" class="control-label">Pet Weight</label>-->#}
{#                    <!--                    <input type="number" name="weight" id="pet-weight" class="form-control" />-->#}
{#                    <!--                </div>-->#}
{#                    <div class="form-group">#}
{#                        <label for="visit-notes" class="control-label">Notes</label>#}
{#                        <textarea name="visitNotes" id="visit-notes"#}
{#                                  class="form-control"><?php echo $visit['notes']; ?></textarea>#}
{#                    </div>#}
{#                    <button type="submit" class="btn btn-primary">#}
{#                        <span class="glyphicon glyphicon-heart"></span>#}
{#                        Save#}
{#                    </button>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}
