<tr id='Participantrow_{{ participant.id }}' data-sa-id="{{ participant.id }}" data-contact-id='{{ participant.id }}' class="newlyAdded">
    {# 20191015 changed productrow to Productrow - was not working in delete product #}
    <td id="participantlastname_{{ participant.id }}">{{ participant.lastname }}</td>
    <td id="participantfistname_{{ participant.id }}">{{ participant.firstname }}</td>
    <td id="participanttype_{{participant.id}}">{{ participant.streetaddress1 }}</td>
    <td id="participantpractice_{{ participant.id }}">{{ participant.responsibleParty.firstname }} {{ participant.responsibleParty.lastname }}</td> {# was  participant.responsibleparty #}
    <td id="participantemail_{{participant.id}}">{{ participant.phone }}</td>

    <td class="participant-manage">
        <button class="manageEdit btn btn-primary" data-sa-object="participant" data-item-id="{{ participant.id }}" title="Edit/Display">
            <i class="fa-solid fa-pencil"></i></button>
    </td>

    <td id="participantcopy_{{ participant.id }}" class="participant-copy">
        <button class="copy btn btn-primary" data-sa-object="participant" data-item-id="{{ participant.id }}" title="Copy/Duplicate">
            <i class="fa-solid fa-copy"></i></button>
    </td>

    <td  id="participantprint_{{ participant.id }}" class="participant-print">
        <button class="print btn btn-primary" data-sa-object="participant" data-item-id="{{ participant.id }}" title="Print">
            <i class="fa-solid fa-print"></i></button>
    </td>

    <td id="participantdelete_{{ participant.id }}" class="participant-delete">
        <button class="deleteItemButton btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm-delete-modal"data-item-type="participant" data-item-id="{{ participant.id }}" title="Delete">
            <i class="fa-solid fa-trash-can"></i></button>
    </td>
    <td class="participant-assessments">
        <button class="listAssessments btn btn-primary" data-sa-object="participant" data-item-id="{{ participant.id }}"  title="Documentation List">
            <i class="fa-solid fa-notes-medical"></i></button>
    </td>
    <td>
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#visit-modal2">Contacts</button>
    </td>
    <td>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Care Plans</button>
    </td>
</tr>
