{% extends 'base.twig' %}

{% block title %}
    - Medication Details
{% endblock %}

{% set navHeader = 'Med Details -'  ~ visits.firstName ~ ' ' ~ visits.lastName %}

{% block body %}
    <!-- Specific content for template1.twig -->

    <div class="container mt-4">
        <form id="medication_details_form">
            <div class="row">
                <!-- First Column -->
                <div class="col-sm-6">

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">Start Date:</label>
                        <div class="col-sm-8">
                        <input type="date" name="datestarted" id="datestarted"
                               value="{{ medications.dateStarted|date('Y-m-d')  }}" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">Medication:</label>
                        <div class="col-sm-8">
                            <input type="text" name="medicationname" id="medicationname"
                                   value="{{ medications.medicationName }}" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">Dose:</label>
                        <div class="col-sm-8">
                            <input type="text" name="dose" id="dose"
                                   value="{{ medications.dose }}" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">Strength:</label>
                        <div class="col-sm-8">
                            <input type="text" name="strength" id="strength"
                                   value="{{ medications.strength }}" class="form-control">
                        </div>

                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">Reason for Taking:</label>
                        <div class="col-sm-8">
                            <input type="text" name="reason" id="reason"
                                   value="{{ medications.reason }}" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">Stop Date:</label>
                        <div class="col-sm-8">
                            <input type="date" name="datestopped" id="datestopped"
                                   value="{{ medications.dateStopped ? medications.dateStopped|date('Y-m-d') : '' }}" class="form-control">
                        </div>
                    </div>


                <!-- second colun -->
{#                <div class="col-sm-6">#}
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">Notes:</label>
                        <div class="col-sm-8">
        <textarea name="medicationnotes" id="medicationnotes"
                  class="form-control h-auto pt-3"
                  aria-describedby="medicationnotesHelp">{{ medications.notes }}</textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4"></div>  <div class="col-sm-8">
                            <div class="form-check form-check-inline">  <input type="checkbox" name="medicationinactive" id="inactiveCheckbox" {{ medications.inactive == 'on' ? 'checked' : '' }} class="mt-3">
                                <label class="form-check-label" for="inactiveCheckbox">Mark as Inactive</label>
                            </div>
                        </div>
                    </div>




                </div>
            </div>



            <div class="form-group row mt-4 saveButton" data-item-id="{{ medications.id }}">
                <div class="col-sm-12 text-center">
                    <button id="btn_save" data-sa-object="medication" type="submit" class="btn btn-primary">Save</button>
                    <button id="btn_cancel" type="button" class="btn btn-secondary btnCancel">Cancel</button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}
