{% extends 'base.twig' %}

{% block title %}
    - Contact Details
{% endblock %}

{% block navtitle %}
    - Contact Details
{% endblock %}
{% block body %}
    <!-- Specific content for template1.twig -->

    <div class="container mt-4">
        <form id="contact_details_form">
            <div class="row">
                <!-- First Column -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">Last Name:</label>
                        <div class="col-sm-8">
                            <input type="text" name="contactLastName" id="contactLastName"
                                   value="{{ contacts.lastname }}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">First Name:</label>
                        <div class="col-sm-8">
                            <input type="text" name="contactFirstName" id="contactFirstName"
                                   value="{{ contacts.firstname }}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">Contact Type:</label>
                        <div class="col-sm-8">
                            <input type="text" name="contacttype" id="contact-type"
                                   value="{{ contacts.contacttype }}" class="form-control">
                        </div>

                    </div>


                </div>
                <!-- second colun -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">Email:</label>
                        <div class="col-sm-8">
                            <input type="text" name="contactemail" id="contact-email"
                                   value="{{ contacts.email }}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">Phone:</label>
                        <div class="col-sm-8">
                            <input type="text" name="contactphone" id="contact-phone"
                                   value="{{ contacts.phone }}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">Company/Practice:</label>
                        <div class="col-sm-8">
                            <textarea name="companypractice" id="company-practice"
                                      class="form-control">{{ contacts.companypractice }}</textarea>
                        </div>
                    </div>

                </div>

            </div>




            <!-- Checkboxes Section -->
            <div class="row mt-4">
                <div class="col-sm-12">
                    <div class="border p-3">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-check">
                                    <input type="checkbox" name="isDriver" id="isDriverCheckbox" {{ contacts.isdriver ? 'checked' : '' }} class="mt-3">
                                    <label class="form-check-label" for="isDriverCheckbox">Is Driver</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check">
                                    <input type="checkbox" name="isEmployee" id="isEmployeeCheckbox" {{ contacts.isemployee ? 'checked' : '' }} class="mt-3">
                                    <label class="form-check-label" for="isEmployeeCheckbox">Is Employee</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check">
                                    <input type="checkbox" name="isCaregiver" id="isCaregiverCheckbox" {{ contacts.iscaregiver ? 'checked' : '' }} class="mt-3">
                                    <label class="form-check-label" for="isCaregiverCheckbox">is Caregiver</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check">
                                    <input type="checkbox" name="isCna" id="isCnaCheckbox" {{ contacts.iscna ? 'checked' : '' }} class="mt-3">
                                    <label class="form-check-label" for="isCnaCheckbox">is a CNA</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-check">
                                    <input type="checkbox" name="isRn" id="isRnCheckbox" {{ contacts.isrn ? 'checked' : '' }} class="mt-3">
                                    <label class="form-check-label" for="isRnCheckbox">is a RN</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check">
                                    <input type="checkbox" name="checkbox6" id="checkbox6" class="mt-3">
                                    <label class="form-check-label" for="checkbox6">future</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check">
                                    <input type="checkbox" name="checkbox7" id="checkbox7" class="mt-3">
                                    <label class="form-check-label" for="checkbox7">future</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check">
                                    <input type="checkbox" name="checkbox8" id="checkbox8" class="mt-3">
                                    <label class="form-check-label" for="checkbox8">future</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="row">
                <!-- First Column -->
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">Address 1</label>
                        <div class="col-sm-8">
                            <input type="text" name="contactLastName" id="contactLastName"
                                   value="{{ contacts.lastname }}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">Address2</label>
                        <div class="col-sm-8">
                            <input type="text" name="contactFirstName" id="contactFirstName"
                                   value="{{ contacts.firstname }}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">city</label>
                        <div class="col-sm-8">
                            <input type="text" name="contacttype" id="contact-type"
                                   value="{{ contacts.contacttype }}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">State</label>
                        <div class="col-sm-8">
                            <input type="text" name="contactFirstName" id="contactFirstName"
                                   value="{{ contacts.firstname }}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">zip</label>
                        <div class="col-sm-8">
                            <input type="text" name="contacttype" id="contact-type"
                                   value="{{ contacts.contacttype }}" class="form-control">
                        </div>
                    </div>


                </div>
                <!-- second colun -->
                <div class="col-sm-4">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">phone cell</label>
                        <div class="col-sm-8">
                            <input type="text" name="contactemail" id="contact-email"
                                   value="{{ contacts.email }}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">phone home</label>
                        <div class="col-sm-8">
                            <input type="text" name="contactphone" id="contact-phone"
                                   value="{{ contacts.phone }}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">phone work</label>
                        <div class="col-sm-8">
                            <input type="text" name="companypractice" id="company-practice"
                                   value="{{ contacts.company_practice }}" class="form-control">
                        </div>
                    </div>

                </div>

                <!-- third column -->
                <div class="col-sm-2">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">ext</label>
                        <div class="col-sm-8">
                            <input type="text" name="contactemail" id="contact-email"
                                   value="{{ contacts.email }}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">ext</label>
                        <div class="col-sm-8">
                            <input type="text" name="contactphone" id="contact-phone"
                                   value="{{ contacts.phone }}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">ext</label>
                        <div class="col-sm-8">
                            <input type="text" name="companypractice" id="company-practice"
                                   value="{{ contacts.company_practice }}" class="form-control">
                        </div>
                    </div>

                </div>


            </div>




            <div class="form-group row mt-4 saveButton" data-item-id="{{ contacts.id }}">
                <div class="col-sm-12 text-center">
                    <button id="btn_contacts_save" type="submit" class="btn btn-primary">Save</button>
                    <button id="btn_contacts_cancel" type="button" class="btn btn-secondary btnCancel">Cancel</button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}
