<tr id='Contactrow_{{ contact.id }}' data-sa-id="{{ contact.id }}" data-contact-id='{{ contact.id }}' class="newlyAdded">
    {# 20191015 changed productrow to Productrow - was not working in delete product #}
    <td id="contactlastname_{{ contact.id }}">{{ contact.lastName }}</td>
    <td id="contactfistname_{{ contact.id }}">{{ contact.firstName }}</td>
    <td id="contacttype_{{contact.id}}">{{ contact.contactType }}</td>
    <td id="contactpractice_{{ contact.id }}">{{ contact.companyPractice }}</td>
    <td id="contactemail_{{contact.id}}">{{ contact.email }}</td>
    <td id="contactphone_{{ contact.id }}">{{ contact.phone }}</td>

    <td  id="contactmanage_{{ contact.id }}" class="contact-manage">
        <button class="manageEdit btn btn-primary" data-sa-object="contact" data-item-id="{{ contact.id }}" title="Edit/Display">
            <i class="fa-solid fa-pencil"></i></button>
    </td>

    <td id="contactcopy_{{ contact.id }}" class="contact-copy">
        <button class="copy btn btn-primary" data-sa-object="contact" data-item-id="{{ contact.id }}" title="Copy/Duplicate">
            <i class="fa-solid fa-copy"></i></button>
    </td>

    <td  id="contactprint_{{ contact.id }}" class="contact-print">
        <button class="print btn btn-primary" data-sa-object="contact" data-item-id="{{ contact.id }}" title="Print">
        <i class="fa-solid fa-print"></i></button>
    </td>

    <td id="contactdelete_{{ contact.id }}" class="contact-delete">
        <button class="deleteItemButton btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm-delete-modal" data-item-type="contact" data-item-id="{{ contact.id }}"  title="Delete">
            <i class="fa-solid fa-trash-can"></i></button>
    </td>
{#    <td>#}
{#    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Contacts</button>#}
{#    </td>#}
{#    <td>#}
{#        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Care Plans</button>#}
{#    </td>#}
</tr>
