{% extends 'base.twig' %}

{% block title %}
    - Weight Details
{% endblock %}

{% set navHeader = 'Weight Details -'  ~ visits.firstName ~ ' ' ~ visits.lastName %}

{% block body %}
    <!-- Specific content for template1.twig -->

    <div class="container mt-4">
        <form id="weight_details_form">
            <div class="row">
                <!-- First Column -->
                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="dateTimeField" class="form-label">Weight Date:</label>
                        <input type="date" name="weightdate" id="weightdate"
                                {% if weights.weightDate is null %}
                                    value="{{ now|date('Y-m-d') }}"
                                {% else %}
                                    value="{{ weights.weightDate }}"  {# may want date('Y-m-d') #}
                                {% endif %}
                               class="form-control">
                    </div>

                    <div class="form-group row">
                        <label for="weightvalue" class="col-sm-4 col-form-label text-end">Weight Value:</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" name="weightvalue" id="weightvalue"
                                       value="{{ weights.weightValue }}" class="form-control">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>


                    <!-- second colun -->
                    {#                <div class="col-sm-6">#}
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">Notes:</label>
                        <div class="col-sm-8">
            <textarea name="weightnotes" id="weightnotes"
                      class="form-control h-auto pt-3"
                      aria-describedby="weightnotesHelp">{{ weights.weightNotes }}</textarea>
                        </div>
                    </div>

                    {#                </div>#}
                </div>
            </div>



            <div class="form-group row mt-4 saveButton" data-item-id="{{ weights.id }}">
                <div class="col-sm-12 text-center">
                    <button id="btn_save" data-sa-object="weight" type="submit" class="btn btn-primary">Save</button>
                    <button id="btn_cancel" type="button" class="btn btn-secondary btnCancel">Cancel</button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}
