{% extends 'base.twig' %}

{% block title %}
    - Sirolimus Details
{% endblock %}

{% set navHeader = 'Sirolimus Details -'  ~ visits.firstName ~ ' ' ~ visits.lastName %}

{% block body %}
    <!-- Specific content for template1.twig -->

    <div class="container mt-4">
        <form id="sirolimus_details_form">
            <div class="row">
                <!-- First Column -->
                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="dateTimeField" class="form-label">Sirolimus Date/Time:</label>
                        <input type="datetime-local" name="sirolimusdate" id="sirolimusdate"
                                {% if sirolimuss.sirolimusDate is null %}
                                    value="{{ now|date('Y-m-d H:i') }}"
                                {% else %}
                                    value="{{ sirolimuss.sirolimusDate }}"
                                {% endif %}
                               class="form-control">
                    </div>

                    <div class="form-group row">
                        <label for="sirolimusvalue" class="col-sm-4 col-form-label text-end">Sirolimus Value:</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" name="sirolimusvalue" id="sirolimusvalue"
                                       value="{{ sirolimuss.sirolimusValue }}" class="form-control">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>


                    <!-- second colun -->
                    {#                <div class="col-sm-6">#}
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-end">Notes:</label>
                        <div class="col-sm-8">
            <textarea name="sirolimusnotes" id="sirolimusnotes"
                      class="form-control h-auto pt-3"
                      aria-describedby="sirolimusnotesHelp">{{ sirolimuss.sirolimusNotes }}</textarea>
                        </div>
                    </div>

                    {#                </div>#}
                </div>
            </div>



            <div class="form-group row mt-4 saveButton" data-item-id="{{ sirolimuss.id }}">
                <div class="col-sm-12 text-center">
                    <button id="btn_save" data-sa-object="sirolimus" type="submit" class="btn btn-primary">Save</button>
                    <button id="btn_cancel" type="button" class="btn btn-secondary btnCancel">Cancel</button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}
