<tr id='sirolimusrow_{{ sirolimus.id }}' data-sa-id="{{ sirolimus.id }}" data-visit-id='{{ sirolimus.id }}' class="newlyAdded">
    {# 20191015 changed productrow to Productrow - was not working in delete product #}
    <td id="sirolimus_systolicpressure_{{ sirolimus.id }}">{{ sirolimus.sirolimusDate|date('Y-m-d H:i') }}</td>
    <td id="sirolimus_combinedpressure_{{ sirolimus.id }}">
        {{ sirolimus.sirolimusValue }} %
    </td>
    {#    <td id="datestarted_{{ sirolimus.id }}">{{ blood_pressure.dateStarted|date('Y-m-d') }}</td>#}
    {#    <td id="strength_{{ sirolimus.id }}">{{ blood_pressure.strength }}</td>#}

    <td id="sirolimus_notes_{{ sirolimus.id }}">{{ sirolimus.sirolimusNotes }}</td>

    <td  id="creatine_manage_{{ sirolimus.id }}" class="sirolimus_manage">
        <button class="manageEdit btn btn-primary" data-sa-object="sirolimus" data-item-id="{{ sirolimus.id }}" title="Edit/Display">
            <i class="fa-solid fa-pencil"></i></button>
    </td>

    <td id="sirolimuscopy_{{ sirolimus.id }}" class="sirolimus_copy">
        <button class="copy btn btn-primary" data-sa-object="sirolimus" data-item-id="{{ sirolimus.id }}" title="Copy/Duplicate">
            <i class="fa-solid fa-copy"></i></button>
    </td>

    <td  id="sirolimusprint_{{ sirolimus.id }}" class="sirolimus_print">
        <button class="print btn btn-primary" data-sa-object="sirolimus" data-item-id="{{ sirolimus.id }}" title="Print">
            <i class="fa-solid fa-print"></i></button>
    </td>

    <td id="sirolimusdelete_{{ sirolimus.id }}" class="sirolimus_delete">
        <button class="deleteItemButton btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirm-delete-modal" data-item-type="sirolimus" data-item-id="{{ sirolimus.id }}"  title="Delete">
            <i class="fa-solid fa-trash-can"></i></button>
    </td>
    {#    <td>#}
    {#    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">visits</button>#}
    {#    </td>#}
    {#    <td>#}
    {#        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Care Plans</button>#}
    {#    </td>#}
</tr>