{% extends 'base.twig' %}

{% block title %}
    - Careplan Details
{% endblock %}

{% block navtitle %}
    - Careplan Details
{% endblock %}
{% block body %}
    <!-- Specific content for template1.twig -->

    <div class="container">
        <div class="row">
            <div class="col-xs-6">


                <form id="careplan_details_form">

                    <div class="form-group">
                        <label for="careplan-date" class="control-label">Careplan Date</label>
                        <input type="date" name="careplanDate" id="careplan-date"
                               value="{{ careplane.careplandate }}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="careplan-present-health" class="control-label">Present Health</label>
                        <input type="text" name="careplanPHealth" id="careplan-present-health"
                               value="{{ careplan.presenthealth }}" class="form-control">
                    </div>


                    <div class="form-group">
                        <label for="careplan-assistive-devices" class="control-label">Assistive Devices</label>
                        <input type="text" name="careplanAssDevices" id="careplan-assistive-devices"
                               value="{{ careplan.assistivedevices }}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="careplan-notes" class="control-label">Notes</label>
                        <textarea name="careplanNotes" id="careplan-notes"
                                  class="form-control">{{  careplan.notes }}</textarea>
                    </div>

                    <div class="form-group row mt-4 saveButton" data-item-id="{{ careplan.id }}">
                        <div class="col-sm-12 text-center">
                            <button id="btn_save" data-sa-object="careplan" type="submit" class="btn btn-primary">Save</button>
                            <button id="btn_cancel" type="button" class="btn btn-secondary btnCancel">Cancel</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>

{% endblock %}
